@font-face {
  font-family: "Gropled";
  src: url("/libs/Gropled-Bold.otf");
}
@font-face {
  font-family: "RF Dewi Condensed";
  src: url("RFDewiCondensed-Regular.eot");
  src: local("RF Dewi Condensed Regular"), local("RFDewiCondensed-Regular"), url("RFDewiCondensed-Regular.eot?#iefix") format("embedded-opentype"), url("RFDewiCondensed-Regular.woff2") format("woff2"), url("RFDewiCondensed-Regular.woff") format("woff"), url("RFDewiCondensed-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi Expanded";
  src: url("RFDewiExpanded-Black.eot");
  src: local("RF Dewi Expanded Black"), local("RFDewiExpanded-Black"), url("RFDewiExpanded-Black.eot?#iefix") format("embedded-opentype"), url("RFDewiExpanded-Black.woff2") format("woff2"), url("RFDewiExpanded-Black.woff") format("woff"), url("RFDewiExpanded-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi";
  src: url("RFDewi-Ultralight.eot");
  src: local("RF Dewi Ultralight"), local("RFDewi-Ultralight"), url("RFDewi-Ultralight.eot?#iefix") format("embedded-opentype"), url("RFDewi-Ultralight.woff2") format("woff2"), url("RFDewi-Ultralight.woff") format("woff"), url("RFDewi-Ultralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi";
  src: url("RFDewi-Ultrabold.eot");
  src: local("RF Dewi Ultrabold"), local("RFDewi-Ultrabold"), url("RFDewi-Ultrabold.eot?#iefix") format("embedded-opentype"), url("RFDewi-Ultrabold.woff2") format("woff2"), url("RFDewi-Ultrabold.woff") format("woff"), url("RFDewi-Ultrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi";
  src: url("RFDewi-Black.eot");
  src: local("RF Dewi Black"), local("RFDewi-Black"), url("RFDewi-Black.eot?#iefix") format("embedded-opentype"), url("RFDewi-Black.woff2") format("woff2"), url("RFDewi-Black.woff") format("woff"), url("RFDewi-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi Condensed";
  src: url("RFDewiCondensed-Ultrabold.eot");
  src: local("RF Dewi Condensed Ultrabold"), local("RFDewiCondensed-Ultrabold"), url("RFDewiCondensed-Ultrabold.eot?#iefix") format("embedded-opentype"), url("RFDewiCondensed-Ultrabold.woff2") format("woff2"), url("RFDewiCondensed-Ultrabold.woff") format("woff"), url("RFDewiCondensed-Ultrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi Expanded";
  src: url("RFDewiExpanded-Ultrabold.eot");
  src: local("RF Dewi Expanded Ultrabold"), local("RFDewiExpanded-Ultrabold"), url("RFDewiExpanded-Ultrabold.eot?#iefix") format("embedded-opentype"), url("RFDewiExpanded-Ultrabold.woff2") format("woff2"), url("RFDewiExpanded-Ultrabold.woff") format("woff"), url("RFDewiExpanded-Ultrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi";
  src: url("RFDewi-LightItalic.eot");
  src: local("RF Dewi Light Italic"), local("RFDewi-LightItalic"), url("RFDewi-LightItalic.eot?#iefix") format("embedded-opentype"), url("RFDewi-LightItalic.woff2") format("woff2"), url("RFDewi-LightItalic.woff") format("woff"), url("RFDewi-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi";
  src: url("RFDewi-Regular.eot");
  src: local("RF Dewi Regular"), local("RFDewi-Regular"), url("RFDewi-Regular.eot?#iefix") format("embedded-opentype"), url("RFDewi-Regular.woff2") format("woff2"), url("RFDewi-Regular.woff") format("woff"), url("RFDewi-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi Extended";
  src: url("RFDewiExtended-Bold.eot");
  src: local("RF Dewi Extended Bold"), local("RFDewiExtended-Bold"), url("RFDewiExtended-Bold.eot?#iefix") format("embedded-opentype"), url("RFDewiExtended-Bold.woff2") format("woff2"), url("RFDewiExtended-Bold.woff") format("woff"), url("RFDewiExtended-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi";
  src: url("RFDewi-Semibold.eot");
  src: local("RF Dewi Semibold"), local("RFDewi-Semibold"), url("RFDewi-Semibold.eot?#iefix") format("embedded-opentype"), url("RFDewi-Semibold.woff2") format("woff2"), url("RFDewi-Semibold.woff") format("woff"), url("RFDewi-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi Expanded";
  src: url("RFDewiExpanded-BlackItalic.eot");
  src: local("RF Dewi Expanded Black Italic"), local("RFDewiExpanded-BlackItalic"), url("RFDewiExpanded-BlackItalic.eot?#iefix") format("embedded-opentype"), url("RFDewiExpanded-BlackItalic.woff2") format("woff2"), url("RFDewiExpanded-BlackItalic.woff") format("woff"), url("RFDewiExpanded-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi Condensed";
  src: url("RFDewiCondensed-ThinItalic.eot");
  src: local("RF Dewi Condensed Thin Italic"), local("RFDewiCondensed-ThinItalic"), url("RFDewiCondensed-ThinItalic.eot?#iefix") format("embedded-opentype"), url("RFDewiCondensed-ThinItalic.woff2") format("woff2"), url("RFDewiCondensed-ThinItalic.woff") format("woff"), url("RFDewiCondensed-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi Extended";
  src: url("RFDewiExtended-Light.eot");
  src: local("RF Dewi Extended Light"), local("RFDewiExtended-Light"), url("RFDewiExtended-Light.eot?#iefix") format("embedded-opentype"), url("RFDewiExtended-Light.woff2") format("woff2"), url("RFDewiExtended-Light.woff") format("woff"), url("RFDewiExtended-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi Extended";
  src: url("RFDewiExtended-Black.eot");
  src: local("RF Dewi Extended Black"), local("RFDewiExtended-Black"), url("RFDewiExtended-Black.eot?#iefix") format("embedded-opentype"), url("RFDewiExtended-Black.woff2") format("woff2"), url("RFDewiExtended-Black.woff") format("woff"), url("RFDewiExtended-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi Extended";
  src: url("RFDewiExtended-Regular.eot");
  src: local("RF Dewi Extended Regular"), local("RFDewiExtended-Regular"), url("RFDewiExtended-Regular.eot?#iefix") format("embedded-opentype"), url("RFDewiExtended-Regular.woff2") format("woff2"), url("RFDewiExtended-Regular.woff") format("woff"), url("RFDewiExtended-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi";
  src: url("RFDewi-Bold.eot");
  src: local("RF Dewi Bold"), local("RFDewi-Bold"), url("RFDewi-Bold.eot?#iefix") format("embedded-opentype"), url("RFDewi-Bold.woff2") format("woff2"), url("RFDewi-Bold.woff") format("woff"), url("RFDewi-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi Condensed";
  src: url("RFDewiCondensed-Semibold.eot");
  src: local("RF Dewi Condensed Semibold"), local("RFDewiCondensed-Semibold"), url("RFDewiCondensed-Semibold.eot?#iefix") format("embedded-opentype"), url("RFDewiCondensed-Semibold.woff2") format("woff2"), url("RFDewiCondensed-Semibold.woff") format("woff"), url("RFDewiCondensed-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi Condensed";
  src: url("RFDewiCondensed-Black.eot");
  src: local("RF Dewi Condensed Black"), local("RFDewiCondensed-Black"), url("RFDewiCondensed-Black.eot?#iefix") format("embedded-opentype"), url("RFDewiCondensed-Black.woff2") format("woff2"), url("RFDewiCondensed-Black.woff") format("woff"), url("RFDewiCondensed-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi";
  src: url("RFDewi-UltralightItalic.eot");
  src: local("RF Dewi Ultralight Italic"), local("RFDewi-UltralightItalic"), url("RFDewi-UltralightItalic.eot?#iefix") format("embedded-opentype"), url("RFDewi-UltralightItalic.woff2") format("woff2"), url("RFDewi-UltralightItalic.woff") format("woff"), url("RFDewi-UltralightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi Extended";
  src: url("RFDewiExtended-UltralightItalic.eot");
  src: local("RF Dewi Extended Ultralight Italic"), local("RFDewiExtended-UltralightItalic"), url("RFDewiExtended-UltralightItalic.eot?#iefix") format("embedded-opentype"), url("RFDewiExtended-UltralightItalic.woff2") format("woff2"), url("RFDewiExtended-UltralightItalic.woff") format("woff"), url("RFDewiExtended-UltralightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi Extended";
  src: url("RFDewiExtended-UltraboldItalic.eot");
  src: local("RF Dewi Extended Ultrabold Italic"), local("RFDewiExtended-UltraboldItalic"), url("RFDewiExtended-UltraboldItalic.eot?#iefix") format("embedded-opentype"), url("RFDewiExtended-UltraboldItalic.woff2") format("woff2"), url("RFDewiExtended-UltraboldItalic.woff") format("woff"), url("RFDewiExtended-UltraboldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi Expanded";
  src: url("RFDewiExpanded-UltralightItalic.eot");
  src: local("RF Dewi Expanded Ultralight Italic"), local("RFDewiExpanded-UltralightItalic"), url("RFDewiExpanded-UltralightItalic.eot?#iefix") format("embedded-opentype"), url("RFDewiExpanded-UltralightItalic.woff2") format("woff2"), url("RFDewiExpanded-UltralightItalic.woff") format("woff"), url("RFDewiExpanded-UltralightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi Condensed";
  src: url("RFDewiCondensed-UltraboldItalic.eot");
  src: local("RF Dewi Condensed Ultrabold Italic"), local("RFDewiCondensed-UltraboldItalic"), url("RFDewiCondensed-UltraboldItalic.eot?#iefix") format("embedded-opentype"), url("RFDewiCondensed-UltraboldItalic.woff2") format("woff2"), url("RFDewiCondensed-UltraboldItalic.woff") format("woff"), url("RFDewiCondensed-UltraboldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi Extended";
  src: url("RFDewiExtended-Italic.eot");
  src: local("RF Dewi Extended Italic"), local("RFDewiExtended-Italic"), url("RFDewiExtended-Italic.eot?#iefix") format("embedded-opentype"), url("RFDewiExtended-Italic.woff2") format("woff2"), url("RFDewiExtended-Italic.woff") format("woff"), url("RFDewiExtended-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi Extended";
  src: url("RFDewiExtended-Ultrabold.eot");
  src: local("RF Dewi Extended Ultrabold"), local("RFDewiExtended-Ultrabold"), url("RFDewiExtended-Ultrabold.eot?#iefix") format("embedded-opentype"), url("RFDewiExtended-Ultrabold.woff2") format("woff2"), url("RFDewiExtended-Ultrabold.woff") format("woff"), url("RFDewiExtended-Ultrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi Extended";
  src: url("RFDewiExtended-LightItalic.eot");
  src: local("RF Dewi Extended Light Italic"), local("RFDewiExtended-LightItalic"), url("RFDewiExtended-LightItalic.eot?#iefix") format("embedded-opentype"), url("RFDewiExtended-LightItalic.woff2") format("woff2"), url("RFDewiExtended-LightItalic.woff") format("woff"), url("RFDewiExtended-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi Extended";
  src: url("RFDewiExtended-Thin.eot");
  src: local("RF Dewi Extended Thin"), local("RFDewiExtended-Thin"), url("RFDewiExtended-Thin.eot?#iefix") format("embedded-opentype"), url("RFDewiExtended-Thin.woff2") format("woff2"), url("RFDewiExtended-Thin.woff") format("woff"), url("RFDewiExtended-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi Condensed";
  src: url("RFDewiCondensed-Thin.eot");
  src: local("RF Dewi Condensed Thin"), local("RFDewiCondensed-Thin"), url("RFDewiCondensed-Thin.eot?#iefix") format("embedded-opentype"), url("RFDewiCondensed-Thin.woff2") format("woff2"), url("RFDewiCondensed-Thin.woff") format("woff"), url("RFDewiCondensed-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi Expanded";
  src: url("RFDewiExpanded-BoldItalic.eot");
  src: local("RF Dewi Expanded Bold Italic"), local("RFDewiExpanded-BoldItalic"), url("RFDewiExpanded-BoldItalic.eot?#iefix") format("embedded-opentype"), url("RFDewiExpanded-BoldItalic.woff2") format("woff2"), url("RFDewiExpanded-BoldItalic.woff") format("woff"), url("RFDewiExpanded-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi Extended";
  src: url("RFDewiExtended-Semibold.eot");
  src: local("RF Dewi Extended Semibold"), local("RFDewiExtended-Semibold"), url("RFDewiExtended-Semibold.eot?#iefix") format("embedded-opentype"), url("RFDewiExtended-Semibold.woff2") format("woff2"), url("RFDewiExtended-Semibold.woff") format("woff"), url("RFDewiExtended-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi Expanded";
  src: url("RFDewiExpanded-Regular.eot");
  src: local("RF Dewi Expanded Regular"), local("RFDewiExpanded-Regular"), url("RFDewiExpanded-Regular.eot?#iefix") format("embedded-opentype"), url("RFDewiExpanded-Regular.woff2") format("woff2"), url("RFDewiExpanded-Regular.woff") format("woff"), url("RFDewiExpanded-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi Condensed";
  src: url("RFDewiCondensed-Ultralight.eot");
  src: local("RF Dewi Condensed Ultralight"), local("RFDewiCondensed-Ultralight"), url("RFDewiCondensed-Ultralight.eot?#iefix") format("embedded-opentype"), url("RFDewiCondensed-Ultralight.woff2") format("woff2"), url("RFDewiCondensed-Ultralight.woff") format("woff"), url("RFDewiCondensed-Ultralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi Extended";
  src: url("RFDewiExtended-SemiboldItalic.eot");
  src: local("RF Dewi Extended Semibold Italic"), local("RFDewiExtended-SemiboldItalic"), url("RFDewiExtended-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("RFDewiExtended-SemiboldItalic.woff2") format("woff2"), url("RFDewiExtended-SemiboldItalic.woff") format("woff"), url("RFDewiExtended-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi Condensed";
  src: url("RFDewiCondensed-BlackItalic.eot");
  src: local("RF Dewi Condensed Black Italic"), local("RFDewiCondensed-BlackItalic"), url("RFDewiCondensed-BlackItalic.eot?#iefix") format("embedded-opentype"), url("RFDewiCondensed-BlackItalic.woff2") format("woff2"), url("RFDewiCondensed-BlackItalic.woff") format("woff"), url("RFDewiCondensed-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi";
  src: url("RFDewi-BoldItalic.eot");
  src: local("RF Dewi Bold Italic"), local("RFDewi-BoldItalic"), url("RFDewi-BoldItalic.eot?#iefix") format("embedded-opentype"), url("RFDewi-BoldItalic.woff2") format("woff2"), url("RFDewi-BoldItalic.woff") format("woff"), url("RFDewi-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi Expanded";
  src: url("RFDewiExpanded-UltraboldItalic.eot");
  src: local("RF Dewi Expanded Ultrabold Italic"), local("RFDewiExpanded-UltraboldItalic"), url("RFDewiExpanded-UltraboldItalic.eot?#iefix") format("embedded-opentype"), url("RFDewiExpanded-UltraboldItalic.woff2") format("woff2"), url("RFDewiExpanded-UltraboldItalic.woff") format("woff"), url("RFDewiExpanded-UltraboldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi Expanded";
  src: url("RFDewiExpanded-Thin.eot");
  src: local("RF Dewi Expanded Thin"), local("RFDewiExpanded-Thin"), url("RFDewiExpanded-Thin.eot?#iefix") format("embedded-opentype"), url("RFDewiExpanded-Thin.woff2") format("woff2"), url("RFDewiExpanded-Thin.woff") format("woff"), url("RFDewiExpanded-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi Expanded";
  src: url("RFDewiExpanded-Semibold.eot");
  src: local("RF Dewi Expanded Semibold"), local("RFDewiExpanded-Semibold"), url("RFDewiExpanded-Semibold.eot?#iefix") format("embedded-opentype"), url("RFDewiExpanded-Semibold.woff2") format("woff2"), url("RFDewiExpanded-Semibold.woff") format("woff"), url("RFDewiExpanded-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi Condensed";
  src: url("RFDewiCondensed-UltralightItalic.eot");
  src: local("RF Dewi Condensed Ultralight Italic"), local("RFDewiCondensed-UltralightItalic"), url("RFDewiCondensed-UltralightItalic.eot?#iefix") format("embedded-opentype"), url("RFDewiCondensed-UltralightItalic.woff2") format("woff2"), url("RFDewiCondensed-UltralightItalic.woff") format("woff"), url("RFDewiCondensed-UltralightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi Expanded";
  src: url("RFDewiExpanded-LightItalic.eot");
  src: local("RF Dewi Expanded Light Italic"), local("RFDewiExpanded-LightItalic"), url("RFDewiExpanded-LightItalic.eot?#iefix") format("embedded-opentype"), url("RFDewiExpanded-LightItalic.woff2") format("woff2"), url("RFDewiExpanded-LightItalic.woff") format("woff"), url("RFDewiExpanded-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi Condensed";
  src: url("RFDewiCondensed-Bold.eot");
  src: local("RF Dewi Condensed Bold"), local("RFDewiCondensed-Bold"), url("RFDewiCondensed-Bold.eot?#iefix") format("embedded-opentype"), url("RFDewiCondensed-Bold.woff2") format("woff2"), url("RFDewiCondensed-Bold.woff") format("woff"), url("RFDewiCondensed-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi Expanded";
  src: url("RFDewiExpanded-ThinItalic.eot");
  src: local("RF Dewi Expanded Thin Italic"), local("RFDewiExpanded-ThinItalic"), url("RFDewiExpanded-ThinItalic.eot?#iefix") format("embedded-opentype"), url("RFDewiExpanded-ThinItalic.woff2") format("woff2"), url("RFDewiExpanded-ThinItalic.woff") format("woff"), url("RFDewiExpanded-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi";
  src: url("RFDewi-ThinItalic.eot");
  src: local("RF Dewi Thin Italic"), local("RFDewi-ThinItalic"), url("RFDewi-ThinItalic.eot?#iefix") format("embedded-opentype"), url("RFDewi-ThinItalic.woff2") format("woff2"), url("RFDewi-ThinItalic.woff") format("woff"), url("RFDewi-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi Condensed";
  src: url("RFDewiCondensed-Italic.eot");
  src: local("RF Dewi Condensed Italic"), local("RFDewiCondensed-Italic"), url("RFDewiCondensed-Italic.eot?#iefix") format("embedded-opentype"), url("RFDewiCondensed-Italic.woff2") format("woff2"), url("RFDewiCondensed-Italic.woff") format("woff"), url("RFDewiCondensed-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi";
  src: url("RFDewi-UltraboldItalic.eot");
  src: local("RF Dewi Ultrabold Italic"), local("RFDewi-UltraboldItalic"), url("RFDewi-UltraboldItalic.eot?#iefix") format("embedded-opentype"), url("RFDewi-UltraboldItalic.woff2") format("woff2"), url("RFDewi-UltraboldItalic.woff") format("woff"), url("RFDewi-UltraboldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi Expanded";
  src: url("RFDewiExpanded-Light.eot");
  src: local("RF Dewi Expanded Light"), local("RFDewiExpanded-Light"), url("RFDewiExpanded-Light.eot?#iefix") format("embedded-opentype"), url("RFDewiExpanded-Light.woff2") format("woff2"), url("RFDewiExpanded-Light.woff") format("woff"), url("RFDewiExpanded-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi Expanded";
  src: url("RFDewiExpanded-Italic.eot");
  src: local("RF Dewi Expanded Italic"), local("RFDewiExpanded-Italic"), url("RFDewiExpanded-Italic.eot?#iefix") format("embedded-opentype"), url("RFDewiExpanded-Italic.woff2") format("woff2"), url("RFDewiExpanded-Italic.woff") format("woff"), url("RFDewiExpanded-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi";
  src: url("RFDewi-Light.eot");
  src: local("RF Dewi Light"), local("RFDewi-Light"), url("RFDewi-Light.eot?#iefix") format("embedded-opentype"), url("RFDewi-Light.woff2") format("woff2"), url("RFDewi-Light.woff") format("woff"), url("RFDewi-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi Expanded";
  src: url("RFDewiExpanded-SemiboldItalic.eot");
  src: local("RF Dewi Expanded Semibold Italic"), local("RFDewiExpanded-SemiboldItalic"), url("RFDewiExpanded-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("RFDewiExpanded-SemiboldItalic.woff2") format("woff2"), url("RFDewiExpanded-SemiboldItalic.woff") format("woff"), url("RFDewiExpanded-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi Extended";
  src: url("RFDewiExtended-BoldItalic.eot");
  src: local("RF Dewi Extended Bold Italic"), local("RFDewiExtended-BoldItalic"), url("RFDewiExtended-BoldItalic.eot?#iefix") format("embedded-opentype"), url("RFDewiExtended-BoldItalic.woff2") format("woff2"), url("RFDewiExtended-BoldItalic.woff") format("woff"), url("RFDewiExtended-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi";
  src: url("RFDewi-Thin.eot");
  src: local("RF Dewi Thin"), local("RFDewi-Thin"), url("RFDewi-Thin.eot?#iefix") format("embedded-opentype"), url("RFDewi-Thin.woff2") format("woff2"), url("RFDewi-Thin.woff") format("woff"), url("RFDewi-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi Extended";
  src: url("RFDewiExtended-BlackItalic.eot");
  src: local("RF Dewi Extended Black Italic"), local("RFDewiExtended-BlackItalic"), url("RFDewiExtended-BlackItalic.eot?#iefix") format("embedded-opentype"), url("RFDewiExtended-BlackItalic.woff2") format("woff2"), url("RFDewiExtended-BlackItalic.woff") format("woff"), url("RFDewiExtended-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi Expanded";
  src: url("RFDewiExpanded-Ultralight.eot");
  src: local("RF Dewi Expanded Ultralight"), local("RFDewiExpanded-Ultralight"), url("RFDewiExpanded-Ultralight.eot?#iefix") format("embedded-opentype"), url("RFDewiExpanded-Ultralight.woff2") format("woff2"), url("RFDewiExpanded-Ultralight.woff") format("woff"), url("RFDewiExpanded-Ultralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi Condensed";
  src: url("RFDewiCondensed-Light.eot");
  src: local("RF Dewi Condensed Light"), local("RFDewiCondensed-Light"), url("RFDewiCondensed-Light.eot?#iefix") format("embedded-opentype"), url("RFDewiCondensed-Light.woff2") format("woff2"), url("RFDewiCondensed-Light.woff") format("woff"), url("RFDewiCondensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi Extended";
  src: url("RFDewiExtended-Ultralight.eot");
  src: local("RF Dewi Extended Ultralight"), local("RFDewiExtended-Ultralight"), url("RFDewiExtended-Ultralight.eot?#iefix") format("embedded-opentype"), url("RFDewiExtended-Ultralight.woff2") format("woff2"), url("RFDewiExtended-Ultralight.woff") format("woff"), url("RFDewiExtended-Ultralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi Extended";
  src: url("RFDewiExtended-ThinItalic.eot");
  src: local("RF Dewi Extended Thin Italic"), local("RFDewiExtended-ThinItalic"), url("RFDewiExtended-ThinItalic.eot?#iefix") format("embedded-opentype"), url("RFDewiExtended-ThinItalic.woff2") format("woff2"), url("RFDewiExtended-ThinItalic.woff") format("woff"), url("RFDewiExtended-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi Expanded";
  src: url("RFDewiExpanded-Bold.eot");
  src: local("RF Dewi Expanded Bold"), local("RFDewiExpanded-Bold"), url("RFDewiExpanded-Bold.eot?#iefix") format("embedded-opentype"), url("RFDewiExpanded-Bold.woff2") format("woff2"), url("RFDewiExpanded-Bold.woff") format("woff"), url("RFDewiExpanded-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "RF Dewi";
  src: url("RFDewi-Italic.eot");
  src: local("RF Dewi Italic"), local("RFDewi-Italic"), url("RFDewi-Italic.eot?#iefix") format("embedded-opentype"), url("RFDewi-Italic.woff2") format("woff2"), url("RFDewi-Italic.woff") format("woff"), url("RFDewi-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi Condensed";
  src: url("RFDewiCondensed-SemiboldItalic.eot");
  src: local("RF Dewi Condensed Semibold Italic"), local("RFDewiCondensed-SemiboldItalic"), url("RFDewiCondensed-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("RFDewiCondensed-SemiboldItalic.woff2") format("woff2"), url("RFDewiCondensed-SemiboldItalic.woff") format("woff"), url("RFDewiCondensed-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi Condensed";
  src: url("RFDewiCondensed-LightItalic.eot");
  src: local("RF Dewi Condensed Light Italic"), local("RFDewiCondensed-LightItalic"), url("RFDewiCondensed-LightItalic.eot?#iefix") format("embedded-opentype"), url("RFDewiCondensed-LightItalic.woff2") format("woff2"), url("RFDewiCondensed-LightItalic.woff") format("woff"), url("RFDewiCondensed-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi Condensed";
  src: url("RFDewiCondensed-BoldItalic.eot");
  src: local("RF Dewi Condensed Bold Italic"), local("RFDewiCondensed-BoldItalic"), url("RFDewiCondensed-BoldItalic.eot?#iefix") format("embedded-opentype"), url("RFDewiCondensed-BoldItalic.woff2") format("woff2"), url("RFDewiCondensed-BoldItalic.woff") format("woff"), url("RFDewiCondensed-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi";
  src: url("RFDewi-BlackItalic.eot");
  src: local("RF Dewi Black Italic"), local("RFDewi-BlackItalic"), url("RFDewi-BlackItalic.eot?#iefix") format("embedded-opentype"), url("RFDewi-BlackItalic.woff2") format("woff2"), url("RFDewi-BlackItalic.woff") format("woff"), url("RFDewi-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "RF Dewi";
  src: url("RFDewi-SemiboldItalic.eot");
  src: local("RF Dewi Semibold Italic"), local("RFDewi-SemiboldItalic"), url("RFDewi-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("RFDewi-SemiboldItalic.woff2") format("woff2"), url("RFDewi-SemiboldItalic.woff") format("woff"), url("RFDewi-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  background-color: #141414;
  color: #fff;
  padding: 0;
  margin: 0;
}

@media (max-width: 576px) {
  br {
    display: none;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style-type: none;
}

.wrapper {
  width: calc(100% - 390px);
  margin: 0 auto;
}
@media (max-width: 1600px) {
  .wrapper {
    width: calc(100% - 160px);
  }
}
@media (max-width: 992px) {
  .wrapper {
    width: calc(100% - 40px);
  }
}

.text {
  font-family: "RF Dewi Expanded";
}

.title {
  font-family: "Gropled";
}

.header .show-menu {
  display: flex;
  left: 0;
}

.nav-menu2 .link {
  margin-bottom: 20px;
}
.nav-menu2 .link a {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  transition: 0.1s all ease;
}
.nav-menu2 .link a:active {
  color: #CF0404;
}
.nav-menu2 .link:hover {
  border-bottom: 2px solid #CF0404;
}

.show-menu {
  display: flex;
  transition: 0.4s all ease;
}

.menu-burger {
  transition: 0.4s all ease;
  display: flex;
  justify-content: space-between;
  position: absolute;
  background: white;
  left: -100%;
  top: 125px;
  padding: 25px 31px 50px 20px;
  position: absolute;
  background-color: #000000;
  right: 100%;
  height: 132vh;
  width: calc(100% - 51px);
  z-index: 1;
}
@media (max-width: 576px) {
  .menu-burger {
    width: 200px;
  }
}
.menu-burger .nav-connection .nav-connection_div {
  margin-bottom: 17px;
}
@media (max-width: 1440px) {
  .menu-burger .nav-connection .nav-connection_div {
    margin-right: 25px;
  }
}
.menu-burger .nav-connection .nav-connection_div .nav-connection_phone {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}
.menu-burger .nav-connection .nav-connection_divMail .nav-connection_email {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.menu-burger .nav-connection .nav-connection_divMail .nav-connection_email .nav-connection-img {
  margin-right: 11px;
}
.menu-burger .nav-social .nav-soc_block {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}
.menu-burger .nav-social .nav-soc_block .nav-soc_img {
  margin-right: 20px;
}
.menu-burger .nav-social .nav-gps_block .nav-gps_link {
  display: flex;
  align-items: flex-end;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}
.menu-burger .nav-social .nav-gps_block .nav-gps_link .nav-gps_img {
  margin-right: 10px;
}
.menu-burger .nav__order .nav__link {
  border-bottom: 1px dashed #42CFF5;
  font-family: "RF Dewi Expanded";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  color: #42CFF5;
}
.menu-burger .nav-menu_content {
  display: block;
}
.menu-burger .nav-menu_content .nav-menu_li {
  margin-right: 35px;
}
.menu-burger .nav-menu_content .nav-menu_li .nav-menu_link {
  font-family: "RF Dewi Expanded";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 40px;
  color: #FFFFFF;
}

.menu-open {
  order: 1;
  background: none;
  display: none;
  border: none;
  padding-top: 5px;
}
@media (max-width: 992px) {
  .menu-open {
    display: block;
  }
}

.burger {
  display: block;
  position: relative;
  width: 45px;
  height: 35px;
  cursor: pointer;
}

.burger-line {
  display: block;
  width: 40px;
  height: 6px;
  background-image: linear-gradient(129.9deg, #2BFFF2 -6.38%, #9921FF 124.11%);
  position: absolute;
  left: 0;
  transition: 0.1s all linear;
  border-radius: 10px;
}

.burger1 {
  top: 0;
}

.burger2, .burger3 {
  top: 50%;
  transform: translateY(-50%);
}

.burger4 {
  bottom: 0;
}

.burger_active .burger1, .burger_active .burger4 {
  opacity: 0;
}

.burger_active .burger1 {
  transform: translateY(-50%) rotate(45deg);
}

.burger_active .burger3 {
  transform: translateY(-50%) rotate(45deg);
}

.burger_active .burger2 {
  transform: translateY(-50%) rotate(-45deg);
}

.header {
  padding-top: 40px;
  padding-bottom: 330px;
  background-image: url(../img/header-fon.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
}
.header .nav .nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 22px;
}
@media (max-width: 1440px) {
  .header .nav .nav-content {
    flex-wrap: wrap;
  }
}
.header .nav .nav-content .nav-choice {
  padding-top: 25px;
}
@media (max-width: 1440px) {
  .header .nav .nav-content .nav-choice {
    margin-right: 25px;
  }
}
@media (max-width: 992px) {
  .header .nav .nav-content .nav-choice {
    display: none;
  }
}
.header .nav .nav-content .nav-choice .nav-link_div {
  margin-bottom: 25px;
}
.header .nav .nav-content .nav-choice .nav-link_div .nav-link_choice {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}
.header .nav .nav-content .nav-choice .nav-link_div .nav-link_choice .nav-link_img {
  margin-right: 12px;
}
@media (max-width: 1440px) {
  .header .nav .nav-content .nav-social {
    margin-right: 25px;
  }
}
@media (max-width: 992px) {
  .header .nav .nav-content .nav-social {
    display: none;
  }
}
.header .nav .nav-content .nav-social .nav-soc_block {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}
.header .nav .nav-content .nav-social .nav-soc_block .nav-soc_img {
  margin-right: 20px;
}
.header .nav .nav-content .nav-social .nav-gps_block .nav-gps_link {
  display: flex;
  align-items: flex-end;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}
.header .nav .nav-content .nav-social .nav-gps_block .nav-gps_link .nav-gps_img {
  margin-right: 10px;
}
@media (max-width: 1440px) {
  .header .nav .nav-content .nav-logotip {
    margin-right: 25px;
  }
}
@media (max-width: 992px) {
  .header .nav .nav-content .nav-logotip {
    order: 1;
  }
}
.header .nav .nav-content .nav-logotip .nav-logotip_img {
  width: 323px;
}
.header .nav .nav-content .nav-order {
  display: flex;
  align-items: center;
}
@media (max-width: 1440px) {
  .header .nav .nav-content .nav-order {
    margin-right: 25px;
  }
}
.header .nav .nav-content .nav-order .nav-order-p {
  margin-right: 23px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}
@media (max-width: 992px) {
  .header .nav .nav-content .nav-order .nav-order-p {
    display: none;
  }
}
.header .nav .nav-content .nav-order .nav-order_icon {
  display: flex;
  align-items: center;
}
.header .nav .nav-content .nav-order .nav-order_icon .nav-order_soc {
  margin-left: 19px;
}
@media (max-width: 1440px) {
  .header .nav .nav-content .nav-connection {
    display: flex;
  }
}
@media (max-width: 992px) {
  .header .nav .nav-content .nav-connection {
    display: none;
  }
}
.header .nav .nav-content .nav-connection .nav-connection_div {
  margin-bottom: 17px;
}
@media (max-width: 1440px) {
  .header .nav .nav-content .nav-connection .nav-connection_div {
    margin-right: 25px;
  }
}
.header .nav .nav-content .nav-connection .nav-connection_div .nav-connection_phone {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}
.header .nav .nav-content .nav-connection .nav-connection_divMail .nav-connection_email {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}
.header .nav .nav-content .nav-connection .nav-connection_divMail .nav-connection_email .nav-connection-img {
  margin-right: 11px;
}
.header .nav-menu {
  margin-bottom: 95px;
  border-top: 1px dashed #5E5E5E;
  border-bottom: 1px dashed #5E5E5E;
  padding-top: 31px;
  padding-bottom: 31px;
}
@media (max-width: 992px) {
  .header .nav-menu {
    display: none;
  }
}
.header .nav-menu .nav-menu_content {
  display: flex;
}
.header .nav-menu .nav-menu_content .nav-menu_li {
  margin-right: 35px;
}
.header .nav-menu .nav-menu_content .nav-menu_li .nav-menu_link {
  font-family: "RF Dewi Expanded";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}
.header .header-main .main-text .main-text_p {
  margin-left: 600px;
  margin-bottom: 16px;
  text-align: center;
  font-family: "RF Dewi Extended";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 66px;
  color: #00FFD1;
}
.header .header-main .main-text .main-title .main-title_cont {
  position: relative;
  margin-bottom: 41px;
}
.header .header-main .main-text .main-title .main-title_cont .main-title_rent {
  font-style: normal;
  font-weight: 700;
  font-size: 120px;
  line-height: 140px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header .header-main .main-text .main-title .main-title_cont .main-title_price {
  position: absolute;
  right: 370px;
  top: 62px;
  padding: 41px 45px;
  transform: matrix(0.99, -0.12, 0.11, 0.99, 0, 0);
  background-color: rgba(40, 48, 54, 0.2);
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  border-radius: 18px;
}
.header .header-main .main-text .main-title .main-title_cont .main-title_price .main-title_h3 {
  font-family: "RF Dewi Extended";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 66px;
  color: #FFFFFF;
}
.header .header-main .main-text .main-title .main-buttons {
  display: flex;
  align-items: center;
}
.header .header-main .main-text .main-title .main-buttons .main-btn_click {
  display: flex;
  align-items: center;
  padding: 9px 35px 9px 61px;
  cursor: pointer;
  background-image: linear-gradient(129.9deg, #2BFFF2 -6.38%, #9921FF 124.11%);
  box-shadow: -1px 24px 46px rgba(109, 120, 250, 0.33), 0px 5px 0px #3363AB;
  border-radius: 19px;
  font-family: "RF Dewi Extended";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 82px;
  color: #FFFFFF;
}
.header .header-main .main-text .main-title .main-buttons .main-btn_click .main-btn_img {
  margin-left: 35px;
}
.header .header-main .main-text .main-title .main-buttons .main-go {
  display: flex;
  align-items: center;
  margin-left: 66px;
}
.header .header-main .main-text .main-title .main-buttons .main-go .main-go_text {
  font-family: "RF Dewi Extended";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
.header .header-main .main-text .main-title .main-buttons .main-go .main-go_vector {
  margin-left: 25px;
}
.header .header-main .main-text .main-title .main-buttons .main-go .main-go_clock {
  margin-left: 95px;
  margin-bottom: 70px;
}/*# sourceMappingURL=style.css.map */